<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bootstrap.css">
</head>
<body>
<div id="app" class="container container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <caption>商品列表</caption>
                <tr>
                    <th class="text-center text">商品名称</th>
                    <th class="text-center text">商品价格</th>
                    <th class="text-center text">操作</th>
                </tr>
                <tr v-for="p in products" class="text-center text">
                    <td>{{p.name}}</td>
                    <td>{{p.price}}</td>
                    <td><button type="button" class="btn btn-danger" @click="deleteOne(p)">删除</button></td>
                </tr>
                <tr v-show="products.length">
                    <td colspan="3">
                        <button type="button" class="btn btn-danger pull-right" @click="deleteAll">清除全部</button>
                    </td>
                </tr>
            </table>
            <form role="form">
                <div class="form-group">
                    <label for="productName" class="control-label">商品名称</label>
                    <input v-model="productName" id="productName" type="text" class="form-control" placeholder="输入商品名称">
                </div>
                <div class="form-group">
                    <label for="productPrice" class="control-label">商品价格</label>
                    <input v-model="productPrice" id="productPrice" type="text" class="form-control" placeholder="输入商品价格">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-info" @click="addOne">提交</button>
                    <button type="button" class="btn btn-warning" @click="resetInput">重置</button>

                </div>
            </form>
        </div>
    </div>
</div>

<script src="vue_v2.3.4.js"></script>
<script>
    var vm = new Vue({
        el:'#app',
        data:{
            productName:'',
            productPrice:'',
            products:[{name:'iphone5',price:5000},{name:'iphone6',price:6000},{name:'iphone7',price:7000}]
        },
        methods:{
            deleteOne(product) {
                this.products = this.products.filter(p => {
                    // 返回 true 表示过滤掉； 返回 false 表示保留。
                    return product !== p;
                });
            },
            addOne() {
                var product = {name:this.productName, price:this.productPrice}
                this.products.push(product);
                this.productName = this.productPrice = '';
            },
            deleteAll() {
                this.products = [];
            },
            resetInput() {
                this.productName = this.productPrice = '';
            }
        }
    })
</script>
</body>
</html>